<section id="fh5co-gallery" data-section="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="">{{ i18n .Site.Params.gallery.title | markdownify }}</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <h3>{{ i18n .Site.Params.gallery.description | markdownify }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
    {{ range .Site.Params.gallery.row }}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xxs-12">
        <div class="fh5co-project-item image-popup">
          <img src="/images/gallery/{{ .img }}" alt="{{ .alt }}" class="img-responsive">
          {{/* <div class="fh5co-text"> */}}
            {{/* <h2>{{ .title }}</h2>
            <span>{{ .subtitle }}</span> */}}
          {{/* </div> */}}
        </div>
      </div>

      <div class="clearfix visible-sm-block"></div>
    {{ end }}
    </div>

  </div>
</section>
